default-font-color = #777
app-icon-rotation = rotate(-5deg)

body
  margin 0
  padding 0
  font-family sans-serif

.container
  width 80%
  color default-font-color

  h1.title
    a:hover
      text-decoration none
      color wheat
    a
      color lightblue

#app-icon
  font-size 0.75em
  position relative
  transform app-icon-rotation

#app-title
  font-size 0.75em
  font-weight 600
  font-family "Lucida Console", Monaco, monospace
  margin-left 0.25em
  font-style oblique

h4
  span.glyphicon-list-alt
    margin-right 0.33em

.btn-xs
  margin-left 4px

.line-item-controls
  padding 0 !important
